.menu image{
flex-direction: column;

   
}

  
.img{border: 3px solid black;
    background-color: yellow;
    flex-wrap: wrap;    
    width: 450px;
    height: 350px;
    float: center;

}


.description{
    display: row;
    margin: 100px;
}

body{
    background-color: #e6e2e1;
}

.d1{
    text-indent: right;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    flex-direction: row;
}
.from_1{
    font-size: 30px;
   text-align: right;
}