.menu1{
    justify-content: space-evenly;
}

.texte1{
   text-align: right;
}
.menu image{
    border-style: double;
    background-color: rgb(214, 44, 14);
}
p{
    font-size: 18px;
}.
.img{
   border-color: wheat;
}
body{
    background-color: #e6e2e1;